.home {
  background-color: #FFFFE0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center; /* Centers the text and links */
}

.social-links {
  display: flex;
  gap: 10px; /* Adds space between each link */
}

.social-links a {
  text-decoration: none;
  color: #333;
  display: inline-flex;
  align-items: center; /* Aligns the icon and text vertically */
  gap: 5px; /* Adds space between the icon and the text */
}

.social-links a:hover {
  color: #4078c0; /* Optional: Change color on hover */
}

.social-links svg {
  font-size: 1.2rem; /* Adjust the size of the icons */
}

.profile-title {
  margin-bottom: 10px; /* Space below the title */
}

.resume-link-container {
  margin-top: 20px; /* Space above the resume link */
}

.profile-img {
  width: 300px; /* Adjust the size as needed */
  height: 300px; /* Same as width to make it a perfect circle */
  border-radius: 50%; /* This makes the image circular */
  border: 2px solid #000; /* Adjust the border width and color */
  object-fit: cover; /* Ensures the image covers the circle without distortion */
}
